# mybatis-plus config
mybatis-plus:
    # 如果是放在resource目录 classpath:/mapper/*Mapper.xml
    mapper-locations: classpath:/mapper/*Mapper.xml
    global-config:
        # 关闭MP3.0自带的banner
        banner: false
        db-config:
            # 主键类型  AUTO:"数据库ID自增", INPUT:"用户输入ID", ID_WORKER:"全局唯一ID (数字类型唯一ID)", UUID:"全局唯一ID UUID";
            id-type: id_worker
            # 逻辑删除策略 -1:表示删除 0:表示正常
            logic-delete-value: -1
            logic-not-delete-value: 0
            # 驼峰下划线转换
            table-underline: true
    configuration:
        # 配置返回数据库(column下划线命名&&返回java实体是驼峰命名)，自动匹配无需as（没开启这个，SQL需要写as： select user_id as userId）
        map-underscore-to-camel-case: true
